<div class="jumbotron center">
	<h1>Welcome to app!</h1>
	<p>
		<%= link_to "Sign In", "#", class: "btn-default btn-lg" %> 

		<%= link_to "Register", "#", class: "btn-primary btn-lg" %>
	 </p>
</div>